:root {
    --white: hsl(0, 0%, 100%);
    --grey-300: hsl(0, 0%, 96%);
    --grey-500: hsl(0, 0%, 89%);
    --grey-700: hsl(0, 0%, 53%);

    --overlay: hsla(0, 0%, 23%, 0.5);

    --error-border: hsl(0, 80%, 70%);
    --error-bg: hsl(0, 88%, 90%);

    --orange-100: hsl(12, 76%, 83%);
    --orange-300: hsl(12, 75%, 78%);
    --orange-500: hsl(12, 76%, 72%);
    --orange-700: hsl(12, 76%, 67%);
    --orange-900: hsl(12, 76%, 61%);

    --green-100: hsl(173, 58%, 74%);
    --green-300: hsl(173, 58%, 65%);
    --green-500: hsl(173, 58%, 56%);
    --green-700: hsl(173, 58%, 48%);
    --green-900: hsl(173, 58%, 39%);

    --blue-100: hsl(197, 37%, 67%);
    --blue-300: hsl(197, 37%, 56%);
    --blue-500: hsl(197, 37%, 46%);
    --blue-700: hsl(197, 37%, 35%);
    --blue-900: hsl(197, 37%, 24%);
}
