.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    pointer-events: none;

    .tile {
        position: relative;
        background-color: var(--blue-900);
        height: 100%;
        width: 0%;
    }
}
